.quotes__title {
  padding: 0;
  margin: 120px 0 0;
  color: #FED7B9;
  ;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .quotes__title {
margin: 70px 15px 0;
  }
}

@media screen and (max-width: 767px) {
  .quotes__title {
    margin: 45px 10px 0;
      }
}
