.forms__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 58px;
  min-width: 310px;
}

@media screen and (max-width: 767px) {
.forms__form{
  margin: 0 5px;
  justify-content: center;
}
}


