 .header {
     display: flex;
     justify-content: space-between;
     width: calc(100% - 58px*2);
     max-width: 1164px;
     margin: auto;
     padding: 38px 0 0;
     align-content: flex-end;
}
 @media screen and (max-width: 450px){
     .header{
         width: 90%;
         padding: 10px 0 0;
    }
}
 