.forms {
  max-height: 540px;
  height: 50vh;
  display: flex;
  margin: 0 auto;
  max-width: 1280px;
}

.forms__title {
margin: 0;
margin-top: 122px;
margin-bottom: 65px;
max-width: 210px;
font-size: 30px;
}

.forms__input {
  max-width: 310px;
  margin-bottom: 15px;
  padding: 0;
  border: 0;
}

.forms__button {
  font-size: 10px;
  margin: 0;
  padding: 0;
  max-width: 175px;
  margin-left: 135px;
  background-color: black;
  color: white;
}

.forms__container {
  background-color:#f2f2f2;
  display: flex;
  margin: 0;
  max-width: 640px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .forms__container {
    max-width: 320px;
  }

  .forms__button{
    margin: 0;
  }

  .forms__input {
     max-width: 280px;
  }

}
